/* mobile view layout to 100vw FOR CIRRUS THEME ONLY */

body #interactive-map-container {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, p, select, button, input, label, a {
	font-family: 'Open Sans', sans-serif;
}

#innerpage #ctmcontentcontainer {
	padding: 38px;
}

@media (max-width: 1300px) {
	
	.container-bs3 {
		margin: 0;
		width: 100%;
		padding: 0;
	}
	
	.container-fluid,
	#innerpage #ctmcontentcontainer {
		padding: 0;
		width: calc(100% - 48px);
		padding-left: 48px;
	}
	
}

.hidden-sprite {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

#interactive-map-container {
	border: 1px solid #ececec;
}

#interactive-map-container,
#interactive-map-container select {
	color: #424242;
    font-size: 12px;
}

#more-filters button,
#more-filters input {
    font-size: 12px;
	text-align: center;
}

/* utility */
.flex-container {
	display: flex;
}

.gray-text {
	color: #b7b7b7;
}

.lg-bold-text {
	font-size: 24px;
	font-weight: bold;
	color: #424242;
}

.blue {
	color: #04b5fd;
}

.hidden-from-interaction {
	pointer-events: none;
}

.border {
	border: 1px solid;
}

.transparent-btn {
    background: transparent;
    border: none;
}

.close-tag-icon {
	font-size: 11px;
	color: #b7b7b7;
}


/* BUTTONS */
#interactive-map-container button:hover,
#interactive-map-container button:active,
#interactive-map-container button:focus {
	outline: thin dotted #333 !important;
}

#interactive-map-container .floor-labels:hover,
#interactive-map-container .floor-labels:active,
#interactive-map-container .floor-labels:focus {
	text-decoration: underline;
	outline: none !important;
}

#interactive-map-container .btn {
	text-transform: none;
}

#interactive-map-container .btn-inverse {
	background: #717171;
	transition: background .3s ease-out;
}

#interactive-map-container .btn-inverse:hover {
	background-position: 0 0;
	background: #404040;
}

.slider-btns {
	color: white;
    border: none;
    font-size: 20px;
}

.expand-detail-btn {
	margin-left: auto;
	align-self: center;
	font-size: 30px;
    padding: 15px;
    border: none;
    color: #717171;
	display: none;
}

.apply-btn {
	width: 100%;
    background: #717171;
    padding: 10px;
}


/* Level nav and Box buttons */
.levelnav {
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	transition: opacity 0.8s;
	z-index: 1001;
}

.levelnav--hidden {
	pointer-events: none;
	opacity: 0;
}

.boxbutton {
	font-size: 2em;
	display: block;
	width: 2em;
	height: 2em;
	padding: 0;
	color: #fff;
	border: 0;
}

.boxbutton--disabled,
.boxbutton--disabled:focus,
.boxbutton--disabled:hover {
	cursor: default;
	pointer-events: none;
	opacity: 0.2;
}


    

/* HEADER */
#map-header {
	display: flex;
    justify-content: start;
    align-items: center;
    background: #ececec;
    padding: 15px 25px;
}

#map-header h1 {
	margin: 0;
	text-transform: none;
	font-size: 2vw;
	margin-right: 5%;
}

#map-header h1::after {
	content: none;
}

#filter-bedrooms {
	margin: 0 2%;
	width: 120px;
}


/* icon tabs */
#map-tabs {
	margin-left: auto;
}
#map-tabs button {
	font-size: 30px;
	padding: 15px;
	border: none;
	border-radius: 6px 6px 0 0;
	background: #ececec;
	transform: translateY(15px);
	transition: background .3s;
}

.second-expanded-view-btn svg {
	width: 33px;
}

.second-expanded-view-btn.active-tab svg path {
	fill: #717171;
}

#map-tabs .active-tab {
	background: white;
}

#map-tabs .active-tab > i {
	color: #717171;
}

#map-tabs i {
	color: #b7b7b7;
}


/* MORE FILTERS  */
#more-filters {
	background: #717171;
	height: 0px;
	transition: height .2s;
	color: white;
	
	display: flex;
	flex-direction: column;
}

#more-filters.open {
	height: 395px;
}

#more-filters .more-filters-container {
	opacity: 0;
}

#more-filters p {
	font-weight: bold;
}

/* filters 1st row */
.filters-first-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-bottom: 1px solid #adadad;
	padding: 20px 0;
	
    margin-right: 30px;
    margin-left: 30px;
}

.filters-first-row div:first-child {
	padding-left: 5px;
}

.filters-first-row div {
	padding: 0 15px;
}

.filters-first-row p {
	margin-bottom: 4px;
}

.filters-first-row input[type=text] {
	width: 5rem;
}

#bedrooms {
	padding: 0;
}

#bedrooms .active.btn-primary {
	border: 1px solid;
}


/* filters 2nd row */
.filters-second-row {
	display: flex;
    justify-content: space-between;
    padding: 10px 25px;
}

.filters-second-row label {
	font-size: 11px;
    margin-bottom: 0;
	line-height: 22px;
}

#desired-amenities {
    flex: 2;
    padding: 10px 15px;
	border-right: 1px solid #adadad;
}

#rush-or-specials {
	flex: 1;
    padding: 10px 15px;
	
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#rush-or-specials div {
	padding: 0 15px;
}

#rush-or-specials p {
	margin: 0;
}

.amenities-list {
	display: flex;
    flex-direction: column;
    max-height: 150px;
    flex-wrap: wrap;
}

/* replaced from Bootstrap 2 button-groups */
.buttonCheckbox-label, 
.buttonRadio-label {
    font-size: 12px;
	color: #424242;
    transition: all .3s ease-out;
    padding: 5px 15px;
    border: 1px solid #d8d8d8;
    border-right: 0px;
    display: table-cell;
    background: #fff;
    text-align: center;
}

.buttonCheckbox-label:last-of-type, 
.buttonRadio-label:last-of-type {
    border-right: 1px solid #d8d8d8;
}

.buttonCheckbox input[type=checkbox], 
.buttonRadios input[type=radio] { 
	display:none; 
} /* to hide the checkbox/radio itself */

.buttonCheckbox input[type=checkbox] + label:hover, 
.buttonRadios input[type=radio] + label:hover {
	color:#0088cc;  
	border-color: #d8d8d8; 
	cursor:pointer; 
}     

.buttonCheckbox input[type=checkbox]:checked + label, 
.buttonRadios input[type=radio]:checked + label {
	background-color: #0088cc; 
	color: #fff; 
	border-color: #fff;
}   


/* filters 3rd row */
#more-filters .clear-filters-row {
	background: black;
	margin: auto 0 0 0;
	text-align: center;
	padding: 10px;
}

/* applied filters row */
.filter-btns {
	background: black;
	color: white;
	border: 1px solid white;
}

.filter-selections {
	border-bottom: 1px solid #ececec;
	padding: 12px;
}

.filter-selections__ul {
	list-style-type: none;
	padding: 0;
	flex-wrap: wrap;
	margin: 0;
}

.filter-selections__ul li {
	border: 1px solid #e2e2e2;
	background: white;
    padding: 0 0 0 10px;
    border-radius: 7px;
    margin-right: 10px;
	margin-bottom: 10px;
}



/* INTERACTIVE MAP */
#interactive-site-map {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.views {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1000; /* to place it on top of social media block */
	
	will-change: transform;
	transition: 
		transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946), 
		width 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.first-view {
    width: 100%;
    height: 100%;
	min-width: 50vw;
	min-height: 70vh;
    position: relative;
    -webkit-overflow-scrolling: touch;
} /* this will create proper width and height to all other views */

.second-view, .third-view {
	transform: translateX(200%);
}

/* when stacks btn clicked */
.view-change-1 .first-view {
	transform: translateX(-100%);
}

.view-change-1 .second-view {
	transform: translateX(0);
}

/* when one-stack btn clicked */
.view-change-2 .second-view {
	transform: translateX(-100%);
}

.view-change-2 .third-view {
	transform: translateX(0);
}




/* 1st View */
.link-for-blocks:hover .building-blocks,
.link-for-blocks:focus .building-blocks {
	opacity: .5;
}

.link-for-blocks:hover,
.link-for-blocks:focus {
	outline: none !important;
}

/* hard-coded CSS -- REMOVE LATER */
.first-view .svg-container {
	width: 400px;
	margin: 0 auto;
}


/* POPOVERS 1st View */
.first-view-popovers {
	z-index: -1;
}

.first-view-popovers.in {
	z-index: 1001;
}

.popover-title {
	color: #8a8989;
	text-align: center;
}

.first-stack-displayed #popover2 .popover-title,
.second-stack-displayed #popover1 .popover-title,
.third-stack-displayed #popover0 .popover-title,
.popover-title.in-focus,
.popover-title:hover {
	background: #04b5fd;
    color: white;
	cursor: pointer;
}

.popover-content {
	text-align: center;
}

.popover-availability {
	font-weight: bold;
	font-size: 1.3rem;
}

.popover-price {
	font-weight: bold;
}


/* 2nd View */

.second-view,
.second-view header {
	display: flex;
	z-index: 1;
}

.second-view {
	flex-direction: column;
}

.levelnav__button--up,
.levelnav__button--all-levels {
	border-bottom: 1px solid white;
}

.svg-container {
	width: 100%;
	height: 100%;
	perspective: 3500px;
	perspective-origin: 0% 50%;
	transition: transform 0.8s;
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	overflow: hidden;
}

.second-view .svg-container {
	position: absolute;
    top: 60px;
}

.second-view__part1 .svg-container__part3 {transform: translateY(-120%)}
.second-view__part1 .svg-container__part2 {transform: translateY(-120%)}
.second-view__part1 .svg-container__part1 {transform: translateY(0)}

.second-view__part2 .svg-container__part3 {transform: translateY(-120%)}
.second-view__part2 .svg-container__part2 {transform: translateY(0)}
.second-view__part2 .svg-container__part1 {transform: translateY(100%)}

.second-view__part3 .svg-container__part3 {transform: translateY(0)}
.second-view__part3 .svg-container__part2 {transform: translateY(100%)}
.second-view__part3 .svg-container__part1 {transform: translateY(100%)}

.levels {
	transition: transform 0.3s;
	transform-style: preserve-3d;
	transform: rotateX(70deg) rotateZ(-45deg) translateZ(-6vmin) scale(.7);
}

.level {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	pointer-events: auto;
	transition: opacity 1s, transform 1s;
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transform-style: preserve-3d;
}

.floor-labels {
	border-color: transparent;
	background-color: transparent;
	
	font-size: 1.9vmin;
	line-height: 0;
	position: absolute;
	z-index: 100;
	top: -2em;
    left: -1.5em;
	white-space: nowrap;
	color: #7d7d86;
	transform: rotateZ(45deg) rotateX(-56deg) translateZ(5vmin);
	letter-spacing: 2px;
}

.floor-labels:hover,
.floor-labels:active,
.floor-labels:focus {
	text-decoration: underline;
	outline: none !important;
}

.floor-labels span {
	background: #7d7d86;
	color: white;
	border-radius: 50%;
	padding: 0px 10px;
}

.floor-labels.available-units {
	color: #04b5fd;
}

.floor-labels.available-units span {
	background: #04b5fd;
}

.level:hover::after {
	color: #04b5fd;
}

.level--current .floor-labels {
	display: none;
}

.level:not(:first-child) {
	position: absolute;
	top: 0;
	left: 0;
}

.level--2 {
	transform: translateZ(10vmin);
}

.level--3 {
	transform: translateZ(20vmin);
}

.level--4 {
	transform: translateZ(30vmin);
}


/* Level map */
.map__ground {
	fill: #d7d7dc;
}

.map__outline {
	transition: fill 0.3s;
	fill: #bbb;
}

.level:hover .map__outline {
	fill: #04b5fd;
}

.map__tree {
	fill: #7bad7f;
}

.map__lake {
	fill: #a2bbdd;
}

.map__space {
	transition: fill-opacity 0.8s;
	fill: #bdbdbd;
	fill-opacity: 0.6;
}

.level--current .map__space {
	fill-opacity: 1;
}

 .map__space--selected {
 	fill: #A4A4A4;
 }

[data-filter] {
	fill: #b5e8fd;
	transition: fill .3s;
}

.levels--open [data-filter] {
	fill: #04b5fd;
	transition: fill .3s;
}

[data-filter]:hover,
.svg-container--content-open [data-filter] {
	cursor: pointer;
	fill: #6ed2fb;
}


/* 3rd View */
.unit-detail {
	border-bottom: 1px solid #ddd;
}

.unit-amenities ul {
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
	height: 250px;
	list-style-type: circle;
}

.unit-photo-gallery .carousel-control i,
.unit-photo-gallery .carousel-control carousel-control:focus i{
	height: 1.7em;
    width: 1.1em !important;
    background: black;
    line-height: 1.7em !important;
}

.unit-photo-gallery .carousel-control.right {
	right: 33px !important;
}

.unit-photo-gallery .tab-pane {
	min-height: 400px;
	max-height: 500px;
}

.carousel-inner__img {
	width: auto;
	max-width: 100%;
	max-height: 500px;
} 


/* SIDE-BY-SIDE VIEW ON WIDER SCREENS */
@media (min-width: 1300px) {
	.container-bs3 {
		width: 95%;
	}
	
	.second-view {
		width: 50%;
	}
	
	.first-view {
		min-width: 40vw;
	}
	
	.third-view {
		transform: translateX(200%);
	}
	
	/* when stacks btn clicked */
	.view-change-1 .first-view {
		transform: translateX(0);
		width: 50%;
	}

	.view-change-1 .second-view {
		transform: translateX(100%);
	}
	
	/* when one-stack btn clicked */
	.view-change-2 .first-view {
		transform: translateX(-100%);
	}
	
	.view-change-2 .second-view {
		transform: translateX(0);
	}

	.view-change-2 .third-view {
		transform: translateX(100%);
	}
	
	/* when detail view is open, expanded plate should become small */
	.view-change-2 .expanded-view-with-detail {
		width: 30%
	}
	
	.view-change-2 .third-view {
		width: 65%;
    	transform: translateX(51%);
	}
	
	.levels {
		transform: rotateX(70deg) rotateZ(-45deg) translateZ(-24vmin) scale(.7);
	}
	
	.back-btn {
		display: none;
	}
	
	.expand-detail-btn {
		display: block;
	}
	
	/* to highlight building parts */
	.first-stack-displayed .first-block,
	.second-stack-displayed .second-block,
	.third-stack-displayed .third-block {
		opacity: .5;
	}

}










/* TYMPANUS STYLES */

/* Icons */
.icon {
	display: block;
	width: 1em;
	height: 1em;
	margin: 0 auto;
	fill: currentColor;
}

.svg-container.svg-container--content-open {
	transform: translate3d(0,-25%,0) scale3d(0.8,0.8,1);
}


/* Selection transitions */

.levels--selected-1 .level:not(.level--1),
.levels--selected-2 .level:not(.level--2),
.levels--selected-3 .level:not(.level--3),
.levels--selected-4 .level:not(.level--4) {
	opacity: 0;
	/* fade out all others */
}

/* Other levels */

.level--current ~ .level {
	transform: translateZ(90vmin);
}

.levels--selected-2 .level--1,
.levels--selected-3 .level--1,
.levels--selected-4 .level--1,
.levels--selected-3 .level--2,
.levels--selected-4 .level--2,
.levels--selected-4 .level--3 {
	transform: translateZ(-60vmin);
}

/* Delays */
/* 1 */

.levels--selected-1 .level--3,
.levels--selected-2 .level--3,
.levels--selected-3 .level--2,
.levels--selected-4 .level--2 {
	transition-delay: 0.1s;
}

.levels--selected-1 .level--2,
.levels--selected-2 .level--current,
.levels--selected-2 .level--current::after,
.levels--selected-3 .level--current,
.levels--selected-3 .level--current::after,
.levels--selected-4 .level--3 {
	transition-delay: 0.25s;
}

.levels--selected-1 .level--current,
.levels--selected-1 .level--current::after,
.levels--selected-4 .level--current,
.levels--selected-4 .level--current::after {
	transition-delay: 0.45s;
}

/* Current level */
.level.level--current {
	/* go to center */
	transform: translateZ(15vmin) rotate3d(0,0,1,20deg);
}

.level.level--current {
    transform: translateZ(15vmin) rotate3d(-4,-3,2,14deg);
}

/* Navigation classes */
.levels--open .level,
.levels--open .level::after {
	transition: transform 1s, opacity 1s;
	transition-delay: 0s;
}

.levels--open .level.level--current {
	opacity: 1;
}

.levels--open .level.level--moveOutUp,
.levels--open .level.level--moveOutDown {
	opacity: 0;
}

.levels--open .level.level--moveOutUp {
	transform: translateZ(90vmin);
}

.levels--open .level.level--moveOutDown {
	transform: translateZ(-60vmin);
}












/* Spaces list (sidebar) */
.spaces-list {
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
	min-height: 100vh;
	padding: 5em 0 1em;
	background: #fff;
}

.search {
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	left: calc(100vw - 300px);
}

.search__input {
	width: 100%;
	padding: 1.315em 2em;
	color: #fff;
	border: 0;
	background: #515158;
	border-radius: 0;
}

.search__input:focus {
	outline: none;
}

.label {
	position: absolute;
	top: 4em;
	right: 0;
}

.label__text {
	font-size: 0.85em;
	line-height: 1;
	display: block;
	padding: 1em;
	color: #e4e4e4;
}

.label__checkbox {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 0;
}

.label__checkbox:checked + .label__text {
	color: #515158;
}

.list {
	margin: 0 0 2em;
	padding: 0 1em 1em 2em;
	list-style: none;
}

.list__item {
	font-size: 1.05em;
	line-height: 1;
	position: relative;
	display: block;
}

.list__item:first-child {
	margin-top: 2em;
}

.grouped-by-category [data-category='1']:first-child,
.grouped-by-category :not([data-category='1']) + [data-category='1'],
.grouped-by-category [data-category='2']:first-child,
.grouped-by-category :not([data-category='2']) + [data-category='2'],
.grouped-by-category [data-category='3']:first-child,
.grouped-by-category :not([data-category='3']) + [data-category='3'],
.grouped-by-category [data-category='4']:first-child,
.grouped-by-category :not([data-category='4']) + [data-category='4'] {
	margin-top: 4em;
}

.grouped-by-category [data-category='1']:first-child::before,
.grouped-by-category :not([data-category='1']) + [data-category='1']::before,
.grouped-by-category [data-category='2']:first-child::before,
.grouped-by-category :not([data-category='2']) + [data-category='2']::before,
.grouped-by-category [data-category='3']:first-child::before,
.grouped-by-category :not([data-category='3']) + [data-category='3']::before,
.grouped-by-category [data-category='4']:first-child::before,
.grouped-by-category :not([data-category='4']) + [data-category='4']::before {
	font-size: 1.25em;
	position: absolute;
	top: -1.75em;
	left: 0;
	color: #c7c7c9;
}

.grouped-by-category [data-category='1']:first-child::before,
.grouped-by-category :not([data-category='1']) + [data-category='1']::before {
	content: 'Nourish & Refresh';
	color: #7cbf7f;
}

.grouped-by-category [data-category='2']:first-child::before,
.grouped-by-category :not([data-category='2']) + [data-category='2']::before {
	content: 'Learn & Create';
	color: #6584c7;
}

.grouped-by-category [data-category='3']:first-child::before,
.grouped-by-category :not([data-category='3']) + [data-category='3']::before {
	content: 'Swap & Give';
	color: #dc4b7c;
}

.grouped-by-category [data-category='4']:first-child::before,
.grouped-by-category :not([data-category='4']) + [data-category='4']::before {
	content: 'Relax & Recharge';
	color: #8d65e0;
}

.list__item::after {
	content: 'L' attr(data-level) ' / ' attr(data-space);
	font-size: 0.65em;
	line-height: 3;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 0.5em;
	pointer-events: none;
	color: #c7c7c9;
}

.list__link {
	font-size: 0.85em;
	display: block;
	padding: 0.5em 0.5em 0.5em 0;
}

.list__item--active .list__link,
.list__link:hover {
	color: #515158;
}

/* Pins */
.level__pins {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transform-style: preserve-3d;
}

.level__pins--active {
	pointer-events: auto;
}

.pin {
	position: absolute;
	width: 5.5vmin;
	height: 8.25vmin;
	margin: -8.25vmin 0 0 -2.25vmin; /* let the bottom tip be the reference point for individual coordinates */
	transform: rotateZ(-20deg) rotateZ(45deg) rotateX(-70deg);
	transform-origin: 50% 100%;
	transform-style: preserve-3d;
}

.pin__icon {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
	transform: translate3d(0,-100px,0);
	transition: opacity 0.3s, transform 0.3s;
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.level__pins--active .pin__icon {
	opacity: 1;
	transform: translate3d(0,0,0);
}

.pin:nth-child(2) .pin__icon {
	transition-delay: 0.05s;
}
.pin:nth-child(3) .pin__icon {
	transition-delay: 0.1s;
}
.pin:nth-child(4) .pin__icon {
	transition-delay: 0.15s;
}
.pin:nth-child(5) .pin__icon {
	transition-delay: 0.2s;
}
.pin:nth-child(6) .pin__icon {
	transition-delay: 0.25s;
}
.pin:nth-child(7) .pin__icon {
	transition-delay: 0.3s;
}
.pin:nth-child(8) .pin__icon {
	transition-delay: 0.35s;
}
.pin:nth-child(9) .pin__icon {
	transition-delay: 0.4s;
}

.pin[data-category='1'] .icon--pin {
	fill: #7cbf7f;
}
.pin[data-category='2'] .icon--pin {
	fill: #6584c7;
}
.pin[data-category='3'] .icon--pin {
	fill: #dc4b7c;
}
.pin[data-category='4'] .icon--pin {
	fill: #8d65e0;
}

.pin--active .icon--pin {
	stroke: #515158;
	stroke-width: 15px;
}

.icon--pin {
	width: 100%;
	height: 100%;
}

.icon--logo {
	position: absolute;
	top: 11%;
	left: 25%;
	width: 50%;
	height: 50%;
	fill: white;
	fill-opacity: 0.6;
	transition: fill-opacity 0.3s;
}

.pin--active .icon--logo,
.pin:hover .icon--logo {
	fill-opacity: 1;
}

/* Pins for floor 1 */
.pin--1-1 { top: 60vmin; left: 8vmin; }
.pin--1-2 { top: 15vmin; left: 15vmin; }
.pin--1-3 { top: 15vmin; left: 88vmin; }
.pin--1-4 { top: 40vmin; left: 77vmin; }
.pin--1-5 { top: 33vmin; left: 38vmin; }
.pin--1-6 { top: 6vmin; left: 27vmin; }
.pin--1-7 { top: 36vmin; left: 61vmin; }
.pin--1-8 { top: 9vmin; left: 59vmin; }
.pin--1-9 { top: 8vmin; left: 51vmin; }

/* Pins for floor 2 */
.pin--2-1 { top: 7vmin; left: 22vmin; }
.pin--2-2 { top: 39vmin; left: 5vmin; }
.pin--2-3 { top: 21vmin; left: 84vmin; }
.pin--2-4 { top: 39vmin; left: 53vmin; }
.pin--2-5 { top: 14vmin; left: 50vmin; }
.pin--2-6 { top: 60vmin; left: 15vmin; }
.pin--2-7 { top: 34vmin; left: 37vmin; }
.pin--2-8 { top: 52vmin; left: 74vmin; }

/* Pins for floor 3 */
.pin--3-1 { top: 17vmin; left: 15vmin; }
.pin--3-2 { top: 42vmin; left: 5vmin; }
.pin--3-3 { top: 19vmin; left: 85vmin; }
.pin--3-4 { top: 61vmin; left: 57vmin; }
.pin--3-5 { top: 58vmin; left: 25vmin; }
.pin--3-6 { top: 30vmin; left: 57vmin; }
.pin--3-7 { top: 32vmin; left: 37vmin; }

/* Pins for floor 4 */
.pin--4-1 { top: 55vmin; left: 21vmin; }
.pin--4-2 { top: 18vmin; left: 20vmin; }
.pin--4-3 { top: 21vmin; left: 88vmin; }
.pin--4-4 { top: 52vmin; left: 74vmin; }
.pin--4-5 { top: 33vmin; left: 38vmin; }
.pin--4-6 { top: 39vmin; left: 56vmin; }
.pin--4-7 { top: 58vmin; left: 10vmin; }

/* Mobile compatability */
.open-search,
.close-search {
	display: none;
}

@media screen and (max-width: 65.625em), screen and (max-height: 40.625em) {
	.main {
		width: 100vw;
	}
	.spaces-list,
	.search {
		width: 100vw;
		right: 100%;
		left: auto;
	}
	.spaces-list--open,
	.spaces-list--open .search {
		right: 0;
	}
	.open-search,
	.close-search {
		position: absolute;
		display: block;
		top: 0;
		right: 0;
		z-index: 1000;
	}
	.mallnav {
		top: 4em;
	}
	.container {
		overflow: hidden;
	}
	.container--overflow {
		overflow: auto;
	}
	.content__item {
		overflow: auto;
	}
	.codrops-header {
		padding-right: 4em;
		text-align: left;
	}
}
